<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
        <add name="SqlConnection"
            connectionString="Data Source=(local);Initial Catalog=Todo;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>